
body {
  background-color: #5562c4;
}

.App{
  text-align: center;
  justify-content: center;
}

.App-header {
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 5rem;
}

.cat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  margin: auto;
  max-width: 1200px;
}

.img-container {
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 0;
}

.cat-container img {
  max-width: 300px;
  height: fit-content;
  border-radius: 5px;
}

.generator-container {
  display: flex;
  gap: 10px;
  width: 300px;
  flex-direction: column;
}

button,
input {
  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: pointer;
  background-color: #fff;
}

button:hover {
  background-color: #aab2e7;
  
}



